@model Mvp.Feature.BasicContent.Models.ContentListItem

<div class="col-12 col-lg-4">
	<div class="feature-panel-text">
		<h3 class="counter number">@Model.ItemTitle</h3>
		<h4>@Model.ItemSubtitle</h4>
		<p>@Model.ItemText</p>

        <!-- UPDATE THIS MODEL! -->
@*		<a href="@Model.ItemLinkUrl" data-module="cta-button" data-goals="" class="cta primary" aria-label="@Model.ItemLinkDescription" target="">@Model.ItemLinkDescription</a>
*@	</div>
</div>