@model Mvp.Feature.BasicContent.Models.ImageTeaser

<section class="cta-overlapped-image  background-grey" id="overlap54630191">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-7">
                <div class="text ">
                    <h3><sc-text asp-for="@Model.TeaserTitle" /></h3>
                    <sc-text asp-for="@Model.TeaserText" />

                    <sc-link asp-for="@Model.TeaserLink" data-module="cta-button" class="link-arrow" aria-label="@Model.TeaserLink.Value.Title">
                        <img alt="Learn more" src="images/icon-arrow.png">
                    </sc-link>

                </div>
            </div>
            <div class="floated" style="opacity: 1; top: 0px;">
                <sc-img asp-for="@Model.TeaserImage" loading="lazy" />
            </div>
        </div>
    </div>
</section>