@using Mvp.Feature.Selections.Models.Apply
@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

@if (Model.CurrentApplication.Contributions.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th asp-for="ContributionDateLabel"></th>
            <th asp-for="ContributionNameLabel"></th>
            <th asp-for="ContributionDescriptionLabel"></th>
            <th asp-for="ContributionLinkLabel"></th>
            <th asp-for="ContributionTypeLabel"></th>
            <th asp-for="ContributionProductsLabel"></th>
            @if (Model.NextStep == ApplicationStep.Contributions)
            {
                <th></th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (Contribution contribution in Model.CurrentApplication.Contributions)
        {
            <tr>
                <td>@contribution.Date.ToString("d")</td>
                <td>@contribution.Name</td>
                <td>@contribution.Description</td>
                <td><a href="@contribution.Uri" target="_blank">@contribution.Uri</a></td>
                <td>@contribution.Type</td>
                <td>
                    @foreach (Product product in contribution.RelatedProducts)
                    {
                        <span class="badge badge-secondary">@product.Name</span>
                    }
                </td>
                @if (Model.NextStep == ApplicationStep.Contributions)
                {
                    <td>
                        <form method="post">
                            <input asp-for="IsNavigation" type="hidden" value="false" />
                            <input asp-for="CurrentStep" type="hidden" value="Contributions" />
                            <input asp-for="DeleteContributionId" type="hidden" value="@contribution.Id"/>
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}