@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <partial name="~/Views/Shared/Components/ApplyApplicationForm/_Progress.cshtml" />
    <div class="step bg-white">
        <div class="row">
            <div class="col-7">
                <h2 asp-for="ContributionsTitleLabel"></h2>
            </div>
            <div class="col-5 text-right font-weight-bold">
                @(Html.Raw(Model.IsEditing ?
                    Model.StepLabelFormat.EditableMarkup :
                    string.Format(Model.StepLabelFormat.Value, "<span class=\"currentstep\">5</span>", 6)))
            </div>
        </div>
        <div>
            @Html.Raw(Model.IsEditing ? Model.ContributionsHelpText.EditableMarkup : Model.ContributionsHelpText.Value)
        </div>
        <form method="post">
            <input asp-for="IsNavigation" type="hidden" value="false"/>
            <input asp-for="CurrentStep" type="hidden" value="Contributions"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <label asp-for="ContributionDate">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionDateLabel.EditableMarkup) : Model.ContributionDateLabel.Value)
                    </label>
                    <span class="text-danger">*</span>
                    <input asp-for="ContributionDate" type="date" class="form-control" required/>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label asp-for="ContributionType">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionTypeLabel.EditableMarkup) : Model.ContributionTypeLabel.Value)
                    </label>
                    <span class="text-danger">*</span>
                    <select asp-for="ContributionType" class="form-control" required>
                        @foreach (ContributionType contributionType in Enum.GetValues<ContributionType>())
                        {
                            <option value="@contributionType">@contributionType</option>
                        }
                    </select>
                </div>

                <div class="form-group col-sm-12 col-md-6">
                    <label asp-for="ContributionName">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionNameLabel.EditableMarkup) : Model.ContributionNameLabel.Value)
                    </label>
                    <span class="text-danger">*</span>
                    <input asp-for="ContributionName" class="form-control" required/>
                </div>
                <div class="form-group col-sm-12 col-md-12">
                    <label asp-for="ContributionDescription">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionDescriptionLabel.EditableMarkup) : Model.ContributionDescriptionLabel.Value)
                    </label>
                    <textarea asp-for="ContributionDescription" rows="3" class="form-control"></textarea>
                </div>

                <div class="form-group col-sm-12 col-md-6">
                    <label asp-for="ContributionLink">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionLinkLabel.EditableMarkup) : Model.ContributionLinkLabel.Value)
                    </label>
                    <input asp-for="ContributionLink" class="form-control"/>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label asp-for="ContributionProductIds">
                        @(Model.IsEditing ? Html.Raw(Model.ContributionProductsLabel.EditableMarkup) : Model.ContributionProductsLabel.Value)
                    </label>
                    <select asp-for="ContributionProductIds" multiple class="form-control">
                        @foreach (Product product in Model.Products)
                        {
                            <option value="@product.Id">@product.Name</option>
                        }
                    </select>
                </div>

                <div class="col-12">
                    <button asp-for="AddLabel" type="submit" class="btn btn-primary"></button>
                </div>
            </div>
        </form>
        <br/>
        <partial name="~/Views/Shared/Components/ApplyApplicationForm/_ContributionsTable.cshtml"/>
        <form id="applicationNextForm" method="post">
            <input asp-for="IsNavigation" type="hidden" value="true"/>
            <input asp-for="CurrentStep" type="hidden" value="Confirmation"/>
        </form>
        <form id="applicationBackForm" method="post">
            <input asp-for="IsNavigation" type="hidden" value="true"/>
            <input asp-for="CurrentStep" type="hidden" value="Objectives"/>
        </form>
        <div class="navigation">
            <button asp-for="PreviousLabel" type="submit" class="btn btn-secondary" form="applicationBackForm"></button>
            <button asp-for="NextLabel" type="submit" class="btn btn-primary" form="applicationNextForm"></button>
        </div>
    </div>
</div>