@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <partial name="~/Views/Shared/Components/ApplyApplicationForm/_Progress.cshtml" />
    <div class="step bg-white">
        <div class="row">
            <div class="col-7">
                <h2 asp-for="MvpTypeTitleLabel"></h2>
            </div>
            <div class="col-5 text-right font-weight-bold">
                @(Html.Raw(Model.IsEditing ?
                    Model.StepLabelFormat.EditableMarkup : 
                    string.Format(Model.StepLabelFormat.Value, "<span class=\"currentstep\">3</span>", 6)))
            </div>
        </div>
        <div>
            @Html.Raw(Model.IsEditing ? Model.MvpTypeHelpText.EditableMarkup : Model.MvpTypeHelpText.Value)
        </div>
        <form id="applicationMvpTypeForm" method="post">
            <input asp-for="IsNavigation" type="hidden" value="false" />
            <input asp-for="CurrentStep" type="hidden" value="MvpType"/>
            <div class="form-group">
                <label asp-for="MvpTypeId">
                    @(Model.IsEditing ? Html.Raw(Model.MvpTypeLabel.EditableMarkup) : Model.MvpTypeLabel.Value)
                </label>
                <span class="text-danger">*</span>
                <select asp-for="MvpTypeId" class="form-control">
                    @foreach (MvpType mvpType in Model.MvpTypes)
                    {
                        <option value="@mvpType.Id">@mvpType.Name</option>
                    }
                </select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
        </form>
        <form id="applicationBackForm" method="post">
            <input asp-for="IsNavigation" type="hidden" value="true" />
            <input asp-for="CurrentStep" type="hidden" value="Profile"/>
        </form>
        <div class="navigation">
            <button asp-for="PreviousLabel" type="submit" class="btn btn-secondary" form="applicationBackForm"></button>
            <button asp-for="NextLabel" type="submit" class="btn btn-primary" form="applicationMvpTypeForm"></button>
        </div>
    </div>
</div>