@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Admin.UserEditModel

<div class="mvp-fs-adminuseredit">
    <form method="post">
        <input asp-for="Id" type="hidden"/>
        <input asp-for="IsEdit" type="hidden" value="true"/>
        <div class="form-group">
            <label asp-for="Identifier">
                @(Model.IsEditing ? Html.Raw(Model.IdentifierLabel.EditableMarkup) : Model.IdentifierLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <input asp-for="Identifier" class="form-control" required/>
            <span asp-validation-for="Identifier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">
                @(Model.IsEditing ? Html.Raw(Model.NameLabel.EditableMarkup) : Model.NameLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">
                @(Model.IsEditing ? Html.Raw(Model.EmailLabel.EditableMarkup) : Model.EmailLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <input asp-for="Email" class="form-control" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryId">
                @(Model.IsEditing ? Html.Raw(Model.CountryLabel.EditableMarkup) : Model.CountryLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <select asp-for="CountryId" class="form-control" required>
                @foreach (Country country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button asp-for="SubmitLabel" type="submit" class="btn btn-primary"></button>
    </form>
</div>