@using Mvp.Selections.Domain
@using MvpSite.Rendering.Models.Admin
@model MvpSite.Rendering.Models.Admin.ScoreCardDetailModel

<div class="mvp-fs-adminscorecarddetail col-12 bg-white">
    <h2 asp-for="TitleLabel"></h2>
    <p>Score detail for @Model.Application?.Applicant.Name from @Model.Application?.Country.Name for @Model.Application?.MvpType.Name MVP</p>
    <h3 asp-for="CommentsLabel"></h3>
    <partial name="~/Views/Shared/_Comments.cshtml" model="Model.Comments.Select(c => c)"/>

    <h3 asp-for="ReviewsLabel"></h3>
    @foreach (Review review in Model.Reviews)
    {
        decimal totalScore = 0;
        decimal percentageCalculationTotal = 0;
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Review by @review.Reviewer.Name</h5>
                <p>@review.Comment</p>
                <div class="card-deck">
                    @foreach (ScoreCategory category in Model.ScoreCategories.OrderBy(sc => sc.SortRank))
                    {
                        decimal categoryScoreValue = ScoreCardDetailModel.CalculateValue(category, review);
                        totalScore += categoryScoreValue;
                        percentageCalculationTotal += category.CalculateScoreValue();
                        <div class="card">
                            <div class="card-header">
                                @category.Name (@categoryScoreValue)
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (ScoreCategory subCategory in category.SubCategories.OrderBy(sc => sc.SortRank))
                                {
                                    <li class="list-group-item">
                                        @subCategory.Name - @ScoreCardDetailModel.ScoreDisplayName(subCategory, review) (@ScoreCardDetailModel.CalculateValue(subCategory, review))
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                Final score: @totalScore (@((int)Math.Round(totalScore / percentageCalculationTotal * 100, 0))%)
            </div>
        </div>
        <br/>
    }

    <h3 asp-for="ApplicationLabel"></h3>
    <p>@Model.Application?.Eligibility</p>
    <p>@Model.Application?.Objectives</p>
    <partial name="~/Views/Shared/Components/AdminScoreCardDetail/_ContributionsList.cshtml" model="Model.Application?.Contributions" />
</div>