@using MvpSite.Rendering.Models.Directory
@model DirectoryViewModel

<section class="mvp-fp-directory bg-white">
    <div class="container">
        <div class="row inner">
            <div class="col-12 mb-5">
                <h2 class="mb-4" asp-for="TopTitleLabel"></h2>
                <h1 asp-for="TitleLabel"></h1>
            </div>
        </div>
        <form>
            <div class="row inner ">
                <div class="input-group col-12 mb-5 bg-white">
                    <input asp-for="Query" name="@DirectoryViewModel.QueryQueryStringKey" class="form-control" placeholder="@Model.SearchLabel?.Value" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="results sc-gradient-light-bg extended-background">
                <div class="row">
                <div class="col-sm-12 col-md-3">
                    @foreach (FacetViewModel facet in Model.ViewFacets.OrderBy(f => f.SortOrder))
                    {
                        <partial name="~/Views/Shared/Components/Directory/_Facet.cshtml" model="facet" />
                    }
                </div>
                <div class="col-sm-12 col-md-9 mb-3 ">
                    <div class="mb-3">
                        <span asp-for="PagingResults"></span> @string.Format(Model.PagingResultsFormat.Value, Model.FirstResult, Model.LastResult, Model.TotalResults)
                    </div>
                    <div class="grid mb-3">
                        @foreach (DirectoryResultViewModel result in Model.Results)
                        {
                            <partial name="~/Views/Shared/Components/Directory/_Result.cshtml" model="result" />
                        }
                    </div>
                    <nav aria-label="Paging">
                        <ul class="pagination justify-content-center border">
                            @if (Model.Page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PreviousPageUri()" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                            {
                                <li class="page-item@(Model.Page == i ? " active" : string.Empty)"><a class="page-link" href="@Model.PageUri(i)">@i</a></li>
                            }
                            @if (Model.TotalPages >= Model.EndPage && Model.Page < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.NextPageUri()" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</section>