@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Admin.ApplicationsOverviewModel

<div class="mvp-fs-adminapplicationsoverview col-12 bg-white">
    <h2 asp-for="TitleLabel"></h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th asp-for="SelectionTableHeader" scope="col"></th>
                <th asp-for="CountryTableHeader" scope="col"></th>
                <th asp-for="ApplicantTableHeader" scope="col"></th>
                <th asp-for="StatusTableHeader" scope="col"></th>
                <th asp-for="ContributionsTableHeader" scope="col"></th>
                <th asp-for="LastModifiedTableHeader" scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Application application in Model.List)
            {
                <tr>
                    <td>@application.Selection.Year</td>
                    <td>@application.Country.Name</td>
                    <td>@application.Applicant.Name</td>
                    <td>@application.Status</td>
                    <td>@application.Contributions.Count</td>
                    <td>@application.ModifiedOn?.ToString("u")</td>
                    <td>
                        <form id="remove@(application.Id)Form" method="post">
                            <input asp-for="RemoveApplicationId" type="hidden" value="@application.Id" />
                        </form>
                        <a class="btn btn-secondary" href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <button type="submit" class="btn btn-danger" form="remove@(application.Id)Form"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Paging" />
</div>