@model Mvp.Feature.Selections.Models.Admin.AwardModel

<div class="mvp-fs-adminaward col-12 bg-white">
    <div class="alert alert-success" role="alert">
        @if (Model.IsRemove)
        {
            if (Model.IsEditing)
            {
                @Html.Raw(Model.SuccessRemoveLabelFormat.EditableMarkup)
            }
            else
            {
                @(string.Format(Model.SuccessRemoveLabelFormat.Value, Model.Title?.MvpType.Name, Model.Title?.Application.Applicant.Name, Model.Title?.Application.Selection.Year))
            }
        }
        else
        {
            if (Model.IsEditing)
            {
                @Html.Raw(Model.SuccessLabelFormat.EditableMarkup)
            }
            else
            {
                @(string.Format(Model.SuccessLabelFormat.Value, Model.MvpTypes.SingleOrDefault(t => t.Id == Model.MvpTypeId)?.Name, Model.Application?.Applicant.Name, Model.Application?.Selection.Year))
            }
        }
    </div>
    <a asp-for="ReturnLink">@(Model.IsEditing ? Html.Raw(Model.ReturnLabel.EditableMarkup) : Model.ReturnLabel.Value)</a>
</div>