@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Any.MyDataEditModel

<div class="mvp-fs-anymydataedit col-12 bg-white">
    <h2 asp-for="TitleLabel"></h2>
    <form method="post">
        <input asp-for="IsEdit" type="hidden" value="true"/>
        <div class="form-group">
            <label asp-for="Name">
                @(Model.IsEditing ? Html.Raw(Model.NameLabel.EditableMarkup) : Model.NameLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">
                @(Model.IsEditing ? Html.Raw(Model.EmailLabel.EditableMarkup) : Model.EmailLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <input asp-for="Email" class="form-control" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryId">
                @(Model.IsEditing ? Html.Raw(Model.CountryLabel.EditableMarkup) : Model.CountryLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <select asp-for="CountryId" class="form-control" required>
                @foreach (Country country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageType">
                @(Model.IsEditing ? Html.Raw(Model.ImageTypeLabel.EditableMarkup) : Model.ImageTypeLabel.Value)
            </label>
            <span class="text-danger">*</span>
            <select asp-for="ImageType" class="form-control" required>
                @foreach (ImageType imageType in Enum.GetValues<ImageType>())
                {
                    <option value="@imageType">@imageType</option>
                }
            </select>
            <span asp-validation-for="ImageType" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button asp-for="SubmitLabel" type="submit" class="btn btn-primary"></button>
    </form>
</div>